html {
    background: url(../images/page-background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    position: relative;
}

canvas {
    background: #FFFFFF;
    border: 1px solid black;	
    display: inline-block;
}

#game-container {
    margin: 50px auto 0 auto;
    width: 998px;
}

#score-board {
    display: inline-block;
    vertical-align: top;
}

#start-button {
    display: none;
}

#messages {
    color: #FFFFFF;
    font-size: 25px; 
    font-weight: 900;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#winner-screen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 356px;
    margin: 0 auto;
    width: 640px;
    height: 512px;
    background-color: rgba(0,0,0,0.5); /*dim the background*/
    text-align: center;
    z-index: 1;
}

#winner {
    position: relative;
    top: 36%;
    font-size: 25px;
    color: #FFEF00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.button {
    background: #04F3FF;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 15px;
    display: block;
    width: 130px;
}
